body {
    font-family: Trebuchet MS, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    cursor: pointer;
    position: relative; /* Ajouté pour permettre de positionner la flèche */
}

th {
    background-color: #f4f4f4;
    position: relative;
}

th {
    padding-right: 30px; /* Ajouté plus d'espace à droite pour la flèche */
}

th[data-sortable="true"]::after {
    content: " ⬍"; /* Flèche par défaut */
    position: absolute;
    right: 5px; /* Positionner la flèche sur le côté droit */
    font-size: 30px;
    opacity: 0.5;
}

/* Flèche triée ascendant */
th.sorted-asc::after {
    content: " 🔼"; /* Flèche vers le haut */
    opacity: 1;
}

/* Flèche triée descendant */
th.sorted-desc::after {
    content: " 🔽"; /* Flèche vers le bas */
    opacity: 1;
}

#searchInput {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    font-size: 16px;
}

img {
    width: 45px;
}