body {
    font-family: Trebuchet MS, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

th {
    background-color: #f4f4f4;
    position: relative;
}

th.sorted-asc::after {
    content: "\25B2"; /* Flèche vers le haut */
    position: absolute;
    right: 10px;
}

th.sorted-desc::after {
    content: "\25BC"; /* Flèche vers le bas */
    position: absolute;
    right: 10px;
}

#searchInput {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    font-size: 16px;
}

img {
    width: 45px;
}
